<div class="bodyLoader" id="loader" style="display: none;">
    <div class="containerLoader">
        <div class="wrapperLoader">
            <div class="loader">
                <div class="dot"></div>
            </div>
            <div class="loader">
                <div class="dot"></div>
            </div>
            <div class="loader">
                <div class="dot"></div>
            </div>
            <div class="loader">
                <div class="dot"></div>
            </div>
            <div class="loader">
                <div class="dot"></div>
            </div>
            <div class="loader">
                <div class="dot"></div>
            </div>
        </div>
        <div class="textLoader">
            Please wait
        </div>
    </div>
</div>