{{ template "header.html" . }}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Halaman User</h1>
    </div>

    <!-- Content Row -->

    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <a href="#" class="btn btn-primary btn-icon-split add-new">
                <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                <span class="text">Tambah Data</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th style="width: 15%">User ID</th>
                            <th style="width: 25%">Username</th>
                            <th style="width: 40%">Full Name</th>
                            <th style="width: 40%">Password</th>
                            <th style="width: 10%;text-align: center;">Admin</th>
                            <th style="width: 10%;text-align: center;">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- /.container-fluid -->

{{ template "footer.html" . }}
<script>
    let golangData = {{.}}
    let LinkPageList = golangData['LinkPageList']
    $.ajax({
        'method': "GET",
        'contentType': 'application/json',
        'url': LinkPageList['ServiceGetAllUser'],
        'beforeSend': function() {
            $('#wrapper').hide()
            $('#loader').show()
        },
        'complete': function() {
            $("#loader").hide();
            $('#wrapper').show()
        },
    }).done( function(data) {
        jQuery.each(data, function(index, item) {
            // action html template
            let actionHtml = '<div style="text-align: center;">' +
                '<a class="add"><i class="material-icons">&#xE03B;</i></a>' +
                '<a class="edit"><i class="material-icons">&#xE254;</i></a>' +
                '<a class="delete"><i class="material-icons">&#xE872;</i></a></div>'

            // isAdmin html template
            let isAdmin = '<input class="form-check-input" type="checkbox" onclick="return false">'
            if (item["is_admin"]){
                isAdmin = '<input class="form-check-input" type="checkbox" checked onclick="return false">'
            }

            $("#dataTable").DataTable().row.add([
                item["user_id"],
                item["user_name"],
                item["full_name"],
                item["password"],
                '<div class="form-check" style="text-align: center;">' + isAdmin + '</div>',
                actionHtml,
            ]).draw();
        });
    })
</script>
<script src="{{ .TemplateURL }}/js/user/useradd.js"></script>
<script src="{{ .TemplateURL }}/js/user/usersave.js"></script>
<script src="{{ .TemplateURL }}/js/user/useredit.js"></script>
<script src="{{ .TemplateURL }}/js/user/userdelete.js"></script>
